* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 375px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: url(images/bg-intro-mobile.png), hsl(0, 100%, 74%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.intro {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}
.intro__heading {
  font-size: 1.8rem;
  margin-bottom: 30px;
  width: 80%;
}
.intro__text {
  font-size: 16px;
}
.free-trial {
  width: 100%;
}

.try {
  width: 100%;
  padding: 20px;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 8px rgba(62, 60, 73, 0.2);
}

.try p {
  width: 70%;
  text-align: center;
  margin: auto;
}

form {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 8px rgba(62, 60, 73, 0.2);
}
form input {
  width: 85%;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid hsl(246, 25%, 77%);
}

form input::placeholder {
  font-weight: 600;
  color: hsl(249, 10%, 26%);
  opacity: 0.7;
}
form button {
  font-weight: 600;
  font-size: 16px;
  width: 85%;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  border-radius: 5px;
  height: 55px;
  text-transform: uppercase;
  box-shadow: 0 5px rgb(11, 175, 104);
  margin-bottom: 20px;
}
form button:hover {
  opacity: 0.6;
}
.t-and-c {
  width: 80%;
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  text-align: center;
  line-height: 1.5rem;
}
.t-and-c a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}

/* ===== MEDIA QUERIES ====== */
/* ===== MEDIA QUERIES ====== */
/* ===== MEDIA QUERIES ====== */

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
  main {
    width: 80%;
    flex-direction: row;
    align-items: center;
  }
  .intro {
    width: 50%;
    align-items: flex-start;
    text-align: left;
    padding-right: 50px;
  }
  .intro__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .free__trial {
    width: 50%;
  }
  form {
    padding: 50px 0;
  }
}
